.Container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Image{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Image h1{
    font-size: 50px;
}
.Form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

