.Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header{
    width: 90%;
    height: 50px;
    margin: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.documents{
    width: 90%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logOut{
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:#ff4444;
}

.modal{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logOut:hover{
    cursor: pointer;
}